* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  h1 {
    color: #fff;
    position: absolute;
    top: 6rem;
  }

  #score1 {
    left: 398px;
  }
  #score2 {
    right: 398px;
  }

  .field {
    width: 100vw;
    position: relative;
    > * {
      position: absolute;
    }
    #panel1,
    #panel2 {
      height: 140px;
      width: 0.8rem;
      background: #fff;
    }

    #panel1 {
      left: 400px;
    }
    #panel2 {
      right: 400px;
    }

    #ball {
      height: 10px;
      width: 10px;
      background: #fff;
    }
  }
}
